@import "tailwindcss";

:root {
  --background: #FFFFFF; /* Pure white */
  --foreground: #222222; /* Dark charcoal */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-heading: var(--font-heading);
  --font-body: var(--font-body);
  
  --color-brand-primary: #b80028; /* Noland's Red */
  --color-brand-primary-hover: #8f001e; /* Darker Noland's Red */
  --color-brand-secondary: #1A1A1A; /* Charcoal */
  --color-brand-secondary-hover: #111111; /* Darker Charcoal */
}

body {
  background: var(--background);
  color: var(--foreground);
}
