@import "tailwindcss";

:root {
  --background: #f8fafc; /* light slate */
  --foreground: #14173D; /* Brand Navy */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-heading: var(--font-heading);
  --font-body: var(--font-body);
  
  --color-brand-primary: #F95B16; /* Brand Orange */
  --color-brand-primary-hover: #E05113; /* Darker Brand Orange */
  --color-brand-secondary: #14173D; /* Brand Navy */
  --color-brand-secondary-hover: #0D0F28; /* Darker Brand Navy */
}

body {
  background: var(--background);
  color: var(--foreground);
}
